### AL ###
# Template for AL projects for Dynamics 365 Business Central

# launch.json folder
.vscode/

# Cache folder
.alcache/

# Symbols folder
.alpackages/

# Snapshots folder
.snapshots/

# Testing Output folder
.output/

# Extension App-file
*.app

# Rapid Application Development File
rad.json

# Translation Base-file
*.g.xlf

# License-files
*.bclicense
*.flf

# Test results file
TestResults.xml
.lscache

### Visual Studio ###
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

### .NET / Build Outputs ###
[Bb]in/
[Oo]bj/
*.lscache
*.cache

### Rider / JetBrains ###
.idea/
*.DotSettings.user

### OS ###
.DS_Store
Thumbs.db